<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>Meet the new puppy!</h1>

    <h2>
      Puppy Name: <%= @name %>
    </h2>

    <h2>
      Puppy Breed: <%= @breed %>
    </h2>

    <h2>
      Puppy Age: <%= @age %>
    </h2>

  </body>
</html>
